<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" th:fragment="header-admin">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">COMVE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Municipios</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Servicios Publicos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Enlaces</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Presidentes de Comites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="#">Salir</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" th:fragment="header-committeeLink">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">COMVE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Solicitudes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Colonias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Comites</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="#">Salir</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-4" th:fragment="header-committeePresident">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">COMVE</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">Inicidencias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Pagos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="#">Salir</a>
          </li>
        </ul>
      </div>
    </div>
</nav>

